/* General */

:root{
    /* Primary */

    --softBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* Secondary */

    --veryDarkBlue: hsl(217, 54%, 11%);
    --DarkerBlue: hsl(216, 50%, 16%);
    --DarkBlue: hsl(215, 32%, 27%);
    --justWhite: hsl(0, 0%, 100%);

}

html,body{
    background-color: var(--veryDarkBlue);
    color: var(--softBlue);
    font-family: 'Outfit', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


/* NFT Image Start*/

.main-nft{
    position: relative;
}

.main-nft a img{
    border-radius: 0.9rem;
    position: relative;
}

.main-nft a{
    display: block;
}

.main-nft a:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00fff7;
    border-radius: 0.9rem;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
    -webkit-animation: overlay-fade 0.7s linear;
            animation: overlay-fade 0.7s linear;
}

.main-nft a:hover::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("../images/icon-view.svg");
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    -webkit-animation: fade 0.7s linear;
            animation: fade 0.7s linear;
}

/* NFT Image End */

/* Main Start */

main{
    background: var(--DarkerBlue); 
    position: relative;   
    min-width: 320px;
    max-width: 350px;
    height: 600px;
    padding: 1.5rem;
    border-radius: 0.8rem;

    /* Shadow */

    box-shadow: 0px 17px 44px 5px rgba(0,0,0,0.42);
    -webkit-box-shadow: 0px 17px 44px 5px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 17px 44px 5px rgba(0,0,0,0.42);
}


.main-title h1{
    font-size: 22px;
    font-weight: bold;
    line-height: 4.3rem;
}

.main-title h1 a{
    text-decoration: none;
    color: var(--justWhite);
    transition:color .2s ease-out;
}

.main-title h1 a:hover{
    color: var(--Cyan);
}

.main-title p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--softBlue);
}


/* Main End */

/* Info Start */

.main-info{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 2rem;
    margin: 1rem 0;
}

.main-info__price{
    font-weight: 600;
    color: var(--Cyan);
}

.main-info .etherium{
    display: inline-block;
    position: relative;
    top: 3px;
    right: 2px;
    height: 18px;
    width: 16px;
    background: url(../images/icon-ethereum.svg) no-repeat center;
    background-size: contain;
}

.main-info .clock{
    display: inline-block;
    position: relative;
    top: 3px;
    right: 2px;
    height: 18px;
    width: 16px;
    background: url(../images/icon-clock.svg) no-repeat center;
    background-size: contain;
}

/* Info End */


/* Creator Start */

.main-creator{
    display: flex;
    align-items: center;
    padding-top: 1em;
    border-top: 1px solid var(--DarkBlue);
}

.main-creator img{
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    border: 1px solid var(--justWhite);
    margin-right: 1em;
}

.main-creator p{
    font-size: 16px;
    font-weight: 400;
}

.main-creator p a{
    color: var(--justWhite);
    text-decoration: none;
    transition:color .4s ease-out;
}

.main-creator p a:hover{
    color: var(--Cyan);
}


/* Creator End */


/* Atrribution Start*/

.attribution{
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: -50px;
    right: 13%;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}


/* Attribution End */

/* Animations Start*/

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes overlay-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 60%;
    }
}
@keyframes overlay-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 60%;
    }
}